// LINK VARIANTS
// -----------------------------------------------------------------------------

@use "../../tokens" as *;

// Adaptive

.link-adaptive {
  color: currentColor;
}

// Inverse

.link-inverse {
  color: $color-text-inverse;
  text-decoration-color: $color-text-inverse;

  &:focus-visible {
    outline-color: $color-outline-inverse-focus;
  }
}
