// TEXTFIELD
// -----------------------------------------------------------------------------

@use "../../tokens" as *;
@use "../../helpers/style-focus" as *;

.textfield {
  display: block;
  width: 100%;
  padding: calc(#{$space-small-d} - #{$border-width-regular}) calc(#{$space-small-e} - #{$border-width-regular});
  border: $border-width-regular solid $color-border-regular;
  border-radius: $border-radius-regular;
  font-size: $font-size-regular;
  line-height: $line-height-regular;
  color: $color-text-regular;
  background-color: $color-background-regular;
  transition: outline $ease-out-100, border-color $ease-out-100;

  &:focus-visible {
    @include style-focus;
  }

  &:disabled {
    opacity: $opacity-500;
  }

  &.invalid {
    border-color: $color-border-negative;
  }
}

// Label

.textfield-label {
  cursor: pointer;

  &.disabled {
    opacity: $opacity-500;
    cursor: default;
  }
}
