// BADGE VARIANTS
// -----------------------------------------------------------------------------

@use "../../tokens" as *;

// Positive

.badge-positive {
  color: $color-text-positive;
  background-color: $color-background-positive-subtle-offset;
}

// Attentive

.badge-attentive {
  color: $color-text-attentive;
  background-color: $color-background-attentive-subtle-offset;
}

// Negative

.badge-negative {
  color: $color-text-negative;
  background-color: $color-background-negative-subtle-offset;
}

// Neutral

.badge-neutral {
  color: $color-text-secondary;
  background-color: $color-background-neutral-subtle-offset;
}
