// CARD
// -----------------------------------------------------------------------------

@use "../../tokens" as *;
@use "../../helpers/style-focus" as *;

// Plain

.card-plain {
  padding: $space-large-b;
  border: 0;
}

// Interactive

.card-interactive {
  position: relative;
  transition: background-color $ease-out-100, outline $ease-out-100;

  &:hover {
    background-color: $color-background-regular-hover;
  }

  &:active {
    background-color: $color-background-regular-active;
  }

  .card-link {
    color: $color-text-regular;

    &:focus-visible {
      outline: 0;

      &::before {
        @include style-focus($border-radius-regular);
      }
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: $z-index-100;
    }
  }
}
