// COLOR
// -----------------------------------------------------------------------------

// White

$color-white: hsl(0, 0%, 100%);
$color-white-transparent-075: hsl(0, 0%, 100%, 0.08);
$color-white-transparent-150: hsl(0, 0%, 100%, 0.16);
$color-white-transparent-825: hsl(0, 0%, 100%, 0.84);
$color-white-transparent-900: hsl(0, 0%, 100%, 0.92);

// Gray

$color-gray-000: hsl(0, 0%, 16%);
$color-gray-025: hsl(0, 0%, 22%);
$color-gray-050: hsl(0, 0%, 28%);
$color-gray-250: hsl(0, 0%, 56%);
$color-gray-700: hsl(0, 0%, 86%);
$color-gray-800: hsl(0, 0%, 92%);
$color-gray-900: hsl(0, 0%, 96%);

// Black

$color-black-transparent-700: hsl(0, 0%, 0%, 0.72);

// Red

$color-red-050: hsl(12, 100%, 28%);
$color-red-075: hsl(12, 100%, 32%);
$color-red-100: hsl(12, 100%, 36%);
$color-red-250: hsl(12, 56%, 58%);
$color-red-800: hsl(12, 52%, 92%);
$color-red-900: hsl(12, 52%, 96%);

// Yellow

$color-yellow-050: hsl(44, 100%, 18%);
$color-yellow-075: hsl(44, 100%, 22%);
$color-yellow-100: hsl(44, 100%, 24%);
$color-yellow-250: hsl(44, 56%, 42%);
$color-yellow-800: hsl(44, 80%, 86%);
$color-yellow-900: hsl(44, 80%, 94%);

// Green

$color-green-050: hsl(138, 100%, 16%);
$color-green-075: hsl(138, 100%, 20%);
$color-green-100: hsl(138, 100%, 22%);
$color-green-250: hsl(138, 56%, 40%);
$color-green-800: hsl(138, 76%, 86%);
$color-green-900: hsl(138, 76%, 94%);

// Blue

$color-blue-050: hsl(208, 100%, 28%);
$color-blue-075: hsl(208, 100%, 32%);
$color-blue-100: hsl(208, 100%, 36%);
$color-blue-250: hsl(208, 76%, 54%);
$color-blue-800: hsl(208, 92%, 92%);
$color-blue-900: hsl(208, 92%, 96%);

// Transparent

$color-transparent: hsl(0, 0%, 0%, 0);