// MENU
// -----------------------------------------------------------------------------

@use "../../tokens" as *;
@use "../../helpers/transition-display" as *;
@use "../../helpers/style-focus" as *;

.menu {
  position: absolute;
  z-index: $z-index-100;
  display: none;
  flex-direction: column;
  padding: calc(#{$space-small-c} - #{$border-width-regular});
  border: $border-width-regular solid $color-border-neutral-subtle;
  border-radius: $border-radius-regular;
  margin-top: $space-small-a;
  list-style: none;
  background-color: $color-background-neutral;

  &.shown {
    display: flex;
  }

  &-action {
    display: flex;
    padding: $space-small-b $space-small-c;
    border-radius: $border-radius-regular;
    font-size: $font-size-regular;
    line-height: $line-height-regular;
    white-space: nowrap;
    color: $color-text-neutral;
    transition: color $ease-out-100, background-color $ease-out-100, outline $ease-out-100;

    &:focus-visible {
      @include style-focus;
    }

    &:hover {
      background-color: $color-background-neutral-hover;
    }

    &:active {
      background-color: $color-background-neutral-active;
    }
  }

  &-separator {
    border-width: $border-width-regular;
    margin-top: $space-small-c;
    margin-bottom: calc(#{$space-small-c} - #{$border-width-regular});
  }
}

.menu-wrapper {
  position: relative;
  display: inline-block;
}
