// COLOR
// -----------------------------------------------------------------------------

// White

$color-white: hsl(0, 0%, 100%);
$color-white-transparent-10: hsl(0, 0%, 100%, 0.92);
$color-white-transparent-20: hsl(0, 0%, 100%, 0.84);
$color-white-transparent-80: hsl(0, 0%, 100%, 0.16);
$color-white-transparent-90: hsl(0, 0%, 100%, 0.08);

// Gray

$color-gray-5: hsl(0, 0%, 96%);
$color-gray-10: hsl(0, 0%, 92%);
$color-gray-15: hsl(0, 0%, 86%);
$color-gray-40: hsl(0, 0%, 64%);
$color-gray-60: hsl(0, 0%, 48%);
$color-gray-80: hsl(0, 0%, 28%);
$color-gray-85: hsl(0, 0%, 22%);
$color-gray-90: hsl(0, 0%, 16%);

// Black

$color-black-transparent-30: hsl(0, 0%, 0%, 0.72);

// Red

$color-red-5: hsl(12, 52%, 96%);
$color-red-10: hsl(12, 52%, 92%);
$color-red-50: hsl(12, 56%, 58%);
$color-red-70: hsl(12, 100%, 36%);
$color-red-75: hsl(12, 100%, 32%);
$color-red-80: hsl(12, 100%, 28%);

// Yellow

$color-yellow-5: hsl(44, 80%, 94%);
$color-yellow-10: hsl(44, 80%, 86%);
$color-yellow-50: hsl(44, 56%, 42%);
$color-yellow-70: hsl(44, 100%, 24%);
$color-yellow-75: hsl(44, 100%, 22%);
$color-yellow-80: hsl(44, 100%, 18%);

// Green

$color-green-5: hsl(138, 76%, 94%);
$color-green-10: hsl(138, 76%, 86%);
$color-green-50: hsl(138, 56%, 40%);
$color-green-70: hsl(138, 100%, 22%);
$color-green-75: hsl(138, 100%, 20%);
$color-green-80: hsl(138, 100%, 16%);

// Blue

$color-blue-5: hsl(208, 92%, 96%);
$color-blue-10: hsl(208, 92%, 92%);
$color-blue-50: hsl(208, 76%, 54%);
$color-blue-70: hsl(208, 100%, 36%);
$color-blue-75: hsl(208, 100%, 32%);
$color-blue-80: hsl(208, 100%, 28%);

// Transparent

$color-transparent: hsl(0, 0%, 0%, 0);
