// COLOR
// -----------------------------------------------------------------------------

// Text

$color-text-regular: hsl(0, 0%, 28%);
$color-text-regular-hover: hsl(208, 100%, 36%);

$color-text-primary: hsl(208, 100%, 36%);
$color-text-secondary: hsl(240, 8%, 28%);

$color-text-positive: hsl(138, 100%, 22%);
$color-text-attentive: hsl(44, 100%, 24%);
$color-text-negative: hsl(12, 100%, 36%);

$color-text-inverse: hsl(0, 0%, 100%);

$color-text-activated: hsl(208, 100%, 36%);

// Border

$color-border-regular: hsl(240, 6%, 56%);
$color-border-regular-subtle: hsl(0, 0%, 86%);

$color-border-primary: hsl(208, 76%, 54%);
$color-border-secondary: hsl(240, 6%, 56%);

$color-border-positive: hsl(138, 56%, 40%);
$color-border-attentive: hsl(44, 56%, 42%);
$color-border-negative: hsl(12, 56%, 58%);

$color-border-inverse: hsl(0, 0%, 100%);

$color-border-activated: hsl(208, 100%, 36%);
$color-border-checked: hsl(208, 100%, 36%);

// Background

$color-background-regular: hsl(0, 0%, 100%);
$color-background-regular-hover: hsl(0, 0%, 96%);
$color-background-regular-active: hsl(0, 0%, 92%);

$color-background-primary: hsl(208, 100%, 36%);
$color-background-primary-hover: hsl(208, 100%, 32%);
$color-background-primary-active: hsl(208, 100%, 28%);
$color-background-primary-subtle: hsl(208, 92%, 96%);
$color-background-primary-subtle-alt: hsl(208, 92%, 92%);
$color-background-primary-transparent-hover: hsl(208, 92%, 96%);
$color-background-primary-transparent-active: hsl(208, 92%, 92%);
$color-background-secondary: hsl(240, 8%, 28%);
$color-background-secondary-hover: hsl(240, 8%, 22%);
$color-background-secondary-active: hsl(240, 8%, 16%);
$color-background-secondary-subtle: hsl(240, 4%, 96%);
$color-background-secondary-subtle-alt: hsl(240, 4%, 92%);
$color-background-secondary-transparent-hover: hsl(240, 4%, 96%);
$color-background-secondary-transparent-active: hsl(240, 4%, 92%);

$color-background-positive: hsl(138, 100%, 22%);
$color-background-positive-hover: hsl(138, 100%, 20%);
$color-background-positive-active: hsl(138, 100%, 16%);
$color-background-positive-subtle: hsl(138, 76%, 94%);
$color-background-positive-subtle-alt: hsl(138, 76%, 86%);
$color-background-positive-transparent-hover: hsl(138, 76%, 94%);
$color-background-positive-transparent-active: hsl(138, 76%, 86%);
$color-background-attentive: hsl(44, 100%, 24%);
$color-background-attentive-hover: hsl(44, 100%, 22%);
$color-background-attentive-active: hsl(44, 100%, 18%);
$color-background-attentive-subtle: hsl(44, 80%, 94%);
$color-background-attentive-subtle-alt: hsl(44, 80%, 86%);
$color-background-attentive-transparent-hover: hsl(44, 80%, 94%);
$color-background-attentive-transparent-active: hsl(44, 80%, 86%);
$color-background-negative: hsl(12, 100%, 36%);
$color-background-negative-hover: hsl(12, 100%, 32%);
$color-background-negative-active: hsl(12, 100%, 28%);
$color-background-negative-subtle: hsl(12, 52%, 96%);
$color-background-negative-subtle-alt: hsl(12, 52%, 92%);
$color-background-negative-transparent-hover: hsl(12, 52%, 96%);
$color-background-negative-transparent-active: hsl(12, 52%, 92%);

$color-background-inverse: hsl(0, 0%, 100%);
$color-background-inverse-hover: hsl(0, 0%, 100%, 0.92);
$color-background-inverse-active: hsl(0, 0%, 100%, 0.84);
$color-background-inverse-transparent-hover: hsl(0, 0%, 100%, 0.08);
$color-background-inverse-transparent-active: hsl(0, 0%, 100%, 0.16);

$color-background-backdrop: hsl(0, 0%, 0%, 0.72);

$color-background-checked: hsl(208, 100%, 36%);

// Outline

$color-outline-focus: hsl(208, 100%, 36%);

$color-outline-inverse-focus: hsl(0, 0%, 100%);