// COLOR
// -----------------------------------------------------------------------------

@use "references/color" as *;

// Text

$color-text-neutral: $color-gray-800;
$color-text-neutral-divergent-hover: $color-blue-700;

$color-text-primary: $color-blue-700;

$color-text-positive: $color-green-700;
$color-text-attentive: $color-yellow-700;
$color-text-negative: $color-red-700;

$color-text-inverse: $color-white;
$color-text-inverse-disabled: $color-white-transparent-600;

$color-text-activated: $color-blue-700;
$color-text-disabled: $color-black-transparent-600;

// Border

$color-border-neutral: $color-gray-500;
$color-border-neutral-subtle: $color-gray-150;

$color-border-primary: $color-blue-400;

$color-border-positive: $color-green-400;
$color-border-attentive: $color-yellow-400;
$color-border-negative: $color-red-400;

$color-border-inverse: $color-white-transparent-400;
$color-border-inverse-disabled: $color-white-transparent-800;

$color-border-activated: $color-blue-700;
$color-border-disabled: $color-black-transparent-900;
$color-border-selected: $color-blue-700;

// Background

$color-background-neutral: $color-white;
$color-background-neutral-hover: $color-gray-50;
$color-background-neutral-active: $color-gray-100;

$color-background-primary: $color-blue-700;
$color-background-primary-hover: $color-blue-750;
$color-background-primary-active: $color-blue-800;
$color-background-primary-subtle: $color-blue-50;
$color-background-primary-subtle-alt: $color-blue-100;
$color-background-primary-transparent-hover: $color-blue-50;
$color-background-primary-transparent-active: $color-blue-100;

$color-background-positive: $color-green-700;
$color-background-positive-hover: $color-green-750;
$color-background-positive-active: $color-green-800;
$color-background-positive-subtle: $color-green-50;
$color-background-positive-subtle-alt: $color-green-100;
$color-background-positive-transparent-hover: $color-green-50;
$color-background-positive-transparent-active: $color-green-100;
$color-background-attentive: $color-yellow-700;
$color-background-attentive-hover: $color-yellow-750;
$color-background-attentive-active: $color-yellow-800;
$color-background-attentive-subtle: $color-yellow-50;
$color-background-attentive-subtle-alt: $color-yellow-100;
$color-background-attentive-transparent-hover: $color-yellow-50;
$color-background-attentive-transparent-active: $color-yellow-100;
$color-background-negative: $color-red-700;
$color-background-negative-hover: $color-red-750;
$color-background-negative-active: $color-red-800;
$color-background-negative-subtle: $color-red-50;
$color-background-negative-subtle-alt: $color-red-100;
$color-background-negative-transparent-hover: $color-red-50;
$color-background-negative-transparent-active: $color-red-100;

$color-background-inverse: $color-white;
$color-background-inverse-hover: $color-white-transparent-100;
$color-background-inverse-active: $color-white-transparent-200;
$color-background-inverse-disabled: $color-white-transparent-800;
$color-background-inverse-transparent-hover: $color-white-transparent-900;
$color-background-inverse-transparent-active: $color-white-transparent-800;

$color-background-transparent: $color-transparent;
$color-background-transparent-dim: $color-black-transparent-400;

$color-background-disabled: $color-black-transparent-900;
$color-background-selected: $color-blue-700;

// Outline

$color-outline-focus: $color-blue-700;

$color-outline-inverse-focus: $color-white;
