// SHAPE
// -----------------------------------------------------------------------------

// Border width

$border-width-regular: 1px;
$border-width-thick-a: 2px;
$border-width-thick-b: 4px;

// Border radius

$border-radius-regular: 4px;
$border-radius-small-a: 1px;
$border-radius-full: 8000px;
