// SPACING
// -----------------------------------------------------------------------------

// Space

$space-regular: 1rem;
$space-small-a: 0.25rem;
$space-small-b: 0.375rem;
$space-small-c: 0.5rem;
$space-small-d: 0.625rem;
$space-small-e: 0.75rem;
$space-small-f: 0.875rem;
$space-large-a: 1.25rem;
$space-large-b: 1.5rem;
$space-large-c: 2rem;
$space-large-d: 2.5rem;
$space-large-e: 3rem;
$space-large-f: 4rem;
$space-large-g: 6rem;
$space-large-h: 8rem;
