// TYPOGRAPHY
// -----------------------------------------------------------------------------

// Font family

$font-family-regular: ui-sans-serif, BlinkMacSystemFont, "Segoe UI", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
$font-family-monospace: ui-monospace, Consolas, "Liberation Mono", monospace;

// Font size

$font-size-regular: 1rem;
$font-size-small-a: 0.75rem;
$font-size-small-b: 0.875rem;
$font-size-large-a: 1.125rem;
$font-size-large-b: 1.3125rem;
$font-size-large-c: 1.5rem;
$font-size-large-d: 2rem;
$font-size-large-e: 3rem;

// Line height

$line-height-regular: 1.5;
$line-height-small-a: 1.16666666;
$line-height-small-b: 1.25;
$line-height-small-c: 1.33333333;

// Font weight

$font-weight-regular: 400;
$font-weight-bold-a: 500;
$font-weight-bold-b: 700;
