// NOTICE VARIANTS
// -----------------------------------------------------------------------------

@use "../../tokens" as *;

// Positive

.notice-positive {
  color: $color-text-positive;
  background-color: $color-background-positive-subtle;
}

// Attentive

.notice-attentive {
  color: $color-text-attentive;
  background-color: $color-background-attentive-subtle;
}

// Negative

.notice-negative {
  color: $color-text-negative;
  background-color: $color-background-negative-subtle;
}

// Neutral

.notice-neutral {
  color: $color-text-secondary;
  background-color: $color-background-secondary-subtle;
}
