// BUTTON VARIANTS
// -----------------------------------------------------------------------------

@use "../../tokens" as *;

// Iconic

.button-iconic {
  padding: $space-small-d;

  .button-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

// Lean and plain

.button-lean,
.button-plain {
  color: $color-text-primary;
  background-color: transparent;

  &.activated,
  &:hover {
    background-color: $color-background-primary-transparent-hover;
  }

  &:active {
    background-color: $color-background-primary-transparent-active;
  }
}

.button-lean {
  padding: calc(#{$space-small-d} - #{$border-width-regular}) calc(#{$space-regular} - #{$border-width-regular});
  border: $border-width-regular solid $color-border-primary-moderate;

  &.button-iconic {
    padding: calc(#{$space-small-d} - #{$border-width-regular});
  }
}

// Small

.button-small {
  padding: $space-small-b $space-small-e;

  &.button-iconic {
    padding: $space-small-c;

    .button-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &.button-lean {
    padding: calc(#{$space-small-b} - #{$border-width-regular}) calc(#{$space-small-e} - #{$border-width-regular});

    &.button-iconic {
      padding: calc(#{$space-small-c} - #{$border-width-regular});
    }
  }
}

// Positive

.button-positive {
  background-color: $color-background-positive;

  &.activated,
  &:hover {
    background-color: $color-background-positive-hover;
  }

  &:active {
    background-color: $color-background-positive-active;
  }

  &.button-lean,
  &.button-plain {
    color: $color-text-positive;
    background-color: transparent;

    &.activated,
    &:hover {
      background-color: $color-background-positive-transparent-hover;
    }

    &:active {
      background-color: $color-background-positive-transparent-active;
    }
  }

  &.button-lean {
    border-color: $color-border-positive-moderate;
  }
}

// Attentive

.button-attentive {
  background-color: $color-background-attentive;

  &.activated,
  &:hover {
    background-color: $color-background-attentive-hover;
  }

  &:active {
    background-color: $color-background-attentive-active;
  }

  &.button-lean,
  &.button-plain {
    color: $color-text-attentive;
    background-color: transparent;

    &.activated,
    &:hover {
      background-color: $color-background-attentive-transparent-hover;
    }

    &:active {
      background-color: $color-background-attentive-transparent-active;
    }
  }

  &.button-lean {
    border-color: $color-border-attentive-moderate;
  }
}

// Negative

.button-negative {
  background-color: $color-background-negative;

  &.activated,
  &:hover {
    background-color: $color-background-negative-hover;
  }

  &:active {
    background-color: $color-background-negative-active;
  }

  &.button-lean,
  &.button-plain {
    color: $color-text-negative;
    background-color: transparent;

    &.activated,
    &:hover {
      background-color: $color-background-negative-transparent-hover;
    }

    &:active {
      background-color: $color-background-negative-transparent-active;
    }
  }

  &.button-lean {
    border-color: $color-border-negative-moderate;
  }
}

// Neutral

.button-neutral {
  background-color: $color-neutral-050;

  &.activated,
  &:hover {
    background-color: $color-neutral-025;
  }

  &:active {
    background-color: $color-neutral-000;
  }

  &.button-lean,
  &.button-plain {
    color: $color-neutral-050;
    background-color: transparent;

    &.activated,
    &:hover {
      background-color: $color-neutral-900;
    }

    &:active {
      background-color: $color-neutral-800;
    }
  }

  &.button-lean {
    border-color: $color-neutral-250;
  }
}

// Inverse

.button-inverse {
  color: $color-text-primary;
  background-color: $color-white;

  &:focus-visible {
    outline-color: $color-white;
  }

  &:hover {
    background-color: $color-white-transparent-900;
  }

  &:active {
    background-color: $color-white-transparent-825;
  }

  &.button-positive {
    color: $color-text-positive;
  }

  &.button-attentive {
    color: $color-text-attentive;
  }

  &.button-negative {
    color: $color-text-negative;
  }

  &.button-neutral {
    color: $color-neutral-050;
  }

  &.button-lean,
  &.button-plain {
    color: $color-white;
    background-color: transparent;

    &.activated,
    &:hover {
      background-color: $color-white-transparent-075;
    }

    &:active {
      background-color: $color-white-transparent-150;
    }
  }

  &.button-lean {
    border-color: $color-white;
  }
}
