// BUTTON VARIANTS
// -----------------------------------------------------------------------------

@use "../../tokens" as *;

// Iconic

.button-iconic {
  padding: $space-small-d;

  .button-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
}

// Lean and plain

.button-lean,
.button-plain {
  color: $color-text-leading;
  background-color: $color-background-transparent;

  &.activated,
  &:hover {
    background-color: $color-background-leading-transparent-hover;
  }

  &:active {
    background-color: $color-background-leading-transparent-active;
  }

  &.button:disabled {
    color: $color-text-disabled;
  }
}

.button-lean {
  padding: calc(#{$space-small-d} - #{$border-width-regular}) calc(#{$space-regular} - #{$border-width-regular});
  border: $border-width-regular solid $color-border-leading;

  &.button-iconic {
    padding: calc(#{$space-small-d} - #{$border-width-regular});
  }

  &.button:disabled {
    border-color: $color-border-disabled;
  }
}

// Small

.button-small {
  padding: $space-small-b $space-small-e;

  &.button-iconic {
    padding: $space-small-c;

    .button-icon {
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &.button-lean {
    padding: calc(#{$space-small-b} - #{$border-width-regular}) calc(#{$space-small-e} - #{$border-width-regular});

    &.button-iconic {
      padding: calc(#{$space-small-c} - #{$border-width-regular});
    }
  }
}

// Positive

.button-positive {
  background-color: $color-background-positive;

  &.activated,
  &:hover {
    background-color: $color-background-positive-hover;
  }

  &:active {
    background-color: $color-background-positive-active;
  }

  &.button-lean,
  &.button-plain {
    color: $color-text-positive;
    background-color: $color-background-transparent;

    &.activated,
    &:hover {
      background-color: $color-background-positive-transparent-hover;
    }

    &:active {
      background-color: $color-background-positive-transparent-active;
    }
  }

  &.button-lean {
    border-color: $color-border-positive;
  }
}

// Attentive

.button-attentive {
  background-color: $color-background-attentive;

  &.activated,
  &:hover {
    background-color: $color-background-attentive-hover;
  }

  &:active {
    background-color: $color-background-attentive-active;
  }

  &.button-lean,
  &.button-plain {
    color: $color-text-attentive;
    background-color: $color-background-transparent;

    &.activated,
    &:hover {
      background-color: $color-background-attentive-transparent-hover;
    }

    &:active {
      background-color: $color-background-attentive-transparent-active;
    }
  }

  &.button-lean {
    border-color: $color-border-attentive;
  }
}

// Negative

.button-negative {
  background-color: $color-background-negative;

  &.activated,
  &:hover {
    background-color: $color-background-negative-hover;
  }

  &:active {
    background-color: $color-background-negative-active;
  }

  &.button-lean,
  &.button-plain {
    color: $color-text-negative;
    background-color: $color-background-transparent;

    &.activated,
    &:hover {
      background-color: $color-background-negative-transparent-hover;
    }

    &:active {
      background-color: $color-background-negative-transparent-active;
    }
  }

  &.button-lean {
    border-color: $color-border-negative;
  }
}

// Inverse

.button-inverse {
  color: $color-text-leading;
  background-color: $color-background-inverse;

  &:focus-visible {
    outline-color: $color-background-inverse;
  }

  &:hover {
    background-color: $color-background-inverse-hover;
  }

  &:active {
    background-color: $color-background-inverse-active;
  }

  &.button-positive {
    color: $color-text-positive;
  }

  &.button-attentive {
    color: $color-text-attentive;
  }

  &.button-negative {
    color: $color-text-negative;
  }

  &:disabled {
    color: $color-text-inverse-disabled;
    background-color: $color-background-inverse-disabled;
  }

  &.button-lean,
  &.button-plain {
    color: $color-text-inverse;
    background-color: $color-background-transparent;

    &.activated,
    &:hover {
      background-color: $color-background-inverse-transparent-hover;
    }

    &:active {
      background-color: $color-background-inverse-transparent-active;
    }

    &:disabled {
      color: $color-text-inverse-disabled;
    }
  }

  &.button-lean {
    border-color: $color-border-inverse;

    &:disabled {
      border-color: $color-border-inverse-disabled;
    }
  }
}
