// ADVISORY VARIANTS
// -----------------------------------------------------------------------------

@use "../../tokens" as *;

// Positive

.global-advisory-positive {
  background-color: $color-background-positive;
}

// Attentive

.global-advisory-attentive {
  background-color: $color-background-attentive;
}

// Negative

.global-advisory-negative {
  background-color: $color-background-negative;
}
